@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: oklch(83.442% 0.27984 142.289);

  --ui-secondary: oklch(76.32% 0.04 291.98);
  --font-sans:
    "Noto Sans Thai Looped", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dark {
  --ui-primary: oklch(74.172% 0.24912 142.298);
  --ui-bg: hsla(120, 44%, 4%);
  --ui-secondary: oklch(37.169% 0.13773 285.548);
}
